.bs-scrolling-header{
    position:fixed;
    background: rgb(188, 231, 225) ;
    height:100px;
    width:100%;
    transition:  all .3s ease-in-out;
    margin-bottom:50px;
    top:65px;
   
  }
  
  .small{
    height: 50px;
    background:rgb(174, 209, 233);
  }
  
  .small * {
      font-size: small;
      color: beige;
  }